


<script src="{{ "js/apps.js" | absURL }}"></script>
<!-- <script src="{{ "js/functions.js" | absURL }}"></script> -->
<script src="{{ "js/home.js" | absURL }}"></script>
<script src="{{ "js/jquery.min.js" | absURL }}"></script>

<script src="{{ "js/SmoothScroll.js" | absURL }}"></script>
<script src="{{ "js/jquery.waitforimages.min.js" | absURL }}"></script>

<script src="{{ "js/isotope.pkgd.min.js" | absURL }}"></script>
<script src="{{ "js/gallery.js" | absURL }}"></script>
<script src="{{ "js/scripts.js" | absURL }}"></script>
<!-- <script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.cookie.js" | absURL }}"> </script>
<script src="{{ "js/ekko-lightbox.js" | absURL }}"></script>
<script src="{{ "js/jquery.scrollTo.min.js" | absURL }}"></script>
<script src="{{ "js/masonry.pkgd.min.js" | absURL }}"></script>
<script src="{{ "js/imagesloaded.pkgd.min.js" | absURL }}"></script>
<script src="{{ "js/owl.carousel.min.js" | absURL }}"></script>
<script src="{{ "js/front.js" | absURL }}"></script> -->


